<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <img alt="Brand" src="https://vignette.wikia.nocookie.net/shinobicraft/images/3/37/Konohagakure_symbol.png/revision/latest?cb=20140220160642" height="100" width="100">
    </a>
  </div>
  <h1<a href="/">NINJABASE</a></h1>
   <a href="Ninjas">Ninjas</a>
    <a href="contracts">Contracts</a>
</div>
</nav>
