<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head') %>
</head>

<body class="indexBody">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="https://vignette.wikia.nocookie.net/shinobicraft/images/3/37/Konohagakure_symbol.png/revision/latest?cb=20140220160642" height="100" width="100">
      </a>
      </div>
      <h1>NINJABASE</h1>
    </div>
  </nav>

  <div class="container">
    <div class="section"></div>
    <div class="row">
      <div class="col col-sm-4">

      </div>
      <div class="col col-sm-4">

      </div>
      <div class="col col-sm-4">

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-sm-4">
        <a href="ninjas"><h2><center>NINJAS</center></h2></a>
      </div>

      <div class="col col-sm-4">

      </div>

      <div class="col col-sm-4">
        <a href="contracts"><h2>CONTRACTS</h2></a>
      </div>

    </div>

    <div class="row">
      <div class="col col-sm-12">
        <div class="imgContainer">
          <img src="https://cdn2.iconfinder.com/data/icons/ninja-3/286/ninja-002-512.png" alt="Ninja">
        </div>
      </div>
    </div>
  </div>



  <%- include('./partials/scripts') %>
</body>

</html>
